
/* It's rustic, blackboard style game, so I went with very simple styling. I think this is how this game should look.  */

.App {
  text-align: center;
  padding-top: 5vh;
}

/* Hangman pictures */
.hung {
  padding-top: 5vh;
}

/* Alphabet buttons */
button {
  margin-right: 1vw;
}

.wrong {
  background-color: red;
}

.correct {
  background-color: greenyellow; 
}

/* Win/lose message */
h2.winner {
  color: green;
}

h2.loser {
  color: red;
}

/* Help section */
button.help {
  margin-bottom: 5vh;
}

ul {
  list-style-type: none;
}
ul.hide {
  display: none;
}